$font: "Kumbh Sans", sans-serif;
$fsize: 12px;
$colorselect: hsl(238, 29%, 16%);
$colorquestion: hsl(237, 12%, 33%);
$coloranswer: hsl(240, 6%, 50%);
$colorhover: hsl(14, 88%, 65%);
$divider: hsl(240, 5%, 91%);
$gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
