.containerbox {
  background-color: #ffffff;
  width: 90vw;
  max-width: 330px;
  height: 70vh;
  padding: 25px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.658) -4px 9px 25px -6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    width: 70vw;
    max-width: 920px;
    height: 510px;
    padding: 80px 100px 80px 0;
    justify-content: space-between;
    flex-direction: row;
  }
}

.logo {
  height: 215px;
  width: 245px;
  position: absolute;
  background-color: transparent;
  transform: translateY(-62%);
  background-image: url(../images/illustration-woman-online-mobile.svg),
    url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: -27px, 0;
  background-position-y: 0, 105px;
  @include desktop {
    height: 510px;
    width: 390px;
    transform: translateY(0);
    position: relative;
    background-color: transparent;
    background-image: url(../images/illustration-woman-online-desktop.svg),
      url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 100%, 100%;
    background-position-y: 50%, 67%;
    &__box {
      background-image: url(../images/illustration-box-desktop.svg);
      position: relative;
      background-repeat: no-repeat;
      height: 180px;
      width: 200px;
      /*transform: translateX(-24%);*/
      /*background-position-y: 64%;*/
      animation-duration: 1.1s;
      animation-name: updown;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      margin-left: -93px;
      margin-top: 190px;
    }
    @keyframes updown {
      from {
        transform: translateY(30px);
      }
      to {
        transform: translateY(15px);
      }
    }
  }
}
