.footer {
  width: auto;
  color: rgba(255, 255, 255, 0.836);
  font-weight: lighter;
  display: flex;
  align-items: baseline;
  font-size: 14px;
}

.author {
  padding-right: 0.6rem;
}

.fas,
.fab {
  padding-top: 0;
  padding: 0.3rem;
}

.link,
.link:visited {
  color: rgba(255, 255, 255, 0.836);
}

.link:hover {
  transform: scale(1.6);
  transition: all 0.3s ease;
}
