.footer {
  width: auto;
  color: rgba(255, 255, 255, 0.836);
  font-weight: lighter;
  display: flex;
  align-items: baseline;
  font-size: 0.875em;
  @include desktop {
    width: 57.5em;
    justify-content: flex-end;
    padding-top: 1.25em;
    padding-right: 3.125em;
  }
}

.author {
  padding-right: 0.6rem;
}

.fas,
.fab {
  padding-top: 0;
  padding: 0.3rem;
}

.link,
.link:visited {
  color: rgba(255, 255, 255, 0.836);
}

.link:hover {
  transform: scale(1.6);
  transition: all 0.3s ease;
}
